<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Should I Call In Sick?</title>
        <meta name="description" content="With everything going on lately, it can be hard to know whether you should call in sick to work or maybe cancel some unsavory obligation...">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#2ecc70">
        <!-- Schema.org markup for Google+ -->
        <meta itemprop="name" content="Should I Call In Sick">
        <meta itemprop="description" content="With everything going on lately, it can be hard to know whether you should call in sick to work or maybe cancel some unsavory obligation...">
        <meta itemprop="image" content="">
        <!-- Open Graph data -->
        <meta property="og:title" content="Should I Call in Sick?" />
        <meta property="og:type" content="article" />
        <meta property="og:url" content="http://www.shouldicallinsick.com/" />
        <meta property="og:image" content="" />
        <meta property="og:description" content="With everything going on lately, it can be hard to know whether you should call in sick to work or maybe cancel some unsavory obligation..." />
        <meta property="og:site_name" content="Should I Call In Sick" />
    </head>
    <body>
        <header>
            <div class="container">
                <p class="ribbon"></p>
            </div>
            <div class="container-mobile">
                <img src="images/morning-guy.svg" alt="Morning Guy" class="small-icon" />
                <h1><a href="#"><span>Should<em>I</em></span><span></em>Call<em>In</em></span><span>Sick<em>.com</em></span></a></h1>
            </div>
        </header>
        <!-- body -->
        <div class="container main-content">
            <div class="grid grid-left">
                <img src="images/morning-guy.svg" alt="Morning Guy" class="icon" />
            </div>
            <div class="grid grid-right">
                <p class="intro-text">With everything going on lately, it can be hard to know whether you should call in sick to work or maybe cancel some unsavory obligation. Don't use your pesky human brain to make such an important decision. Let Javascript figure it out.</p>
                <div class="sick-meter"></div>
                <div class="answer"></div>
                <div class="search-results"></div>
            </div>
        </div>
        <!-- footer -->
        <footer>
            <div class="container">
                <p>We made the right decision.</p>
                <ul class="internal-links">
                    <li><a href="about.html">About This Thing</a></li>
                    <li><a href="privacy.html">Privacy</a></li>
                    <li><a href="contact.html">Contact Us</a></li>
                </ul>
                <ul class="share-links">
                    <li><a href="https://www.facebook.com/" onclick="window.open(this.href, '',
            'menubar=no,toolbar=no,height=600,width=600');return false;" class="fa fa-facebook fa-2x"></a></li>
                    <li><a href="https://twitter.com/shouldicallin" class="fa fa-twitter fa-2x"></a></li>
                    <li><a href="https://plus.google.com/share?url=https://" onclick="window.open(this.href, '',
            'menubar=no,toolbar=no,height=600,width=600');return false;" class="fa fa-google-plus fa-2x"></a></li>
                    <li><a href="https://github.com/" class="fa fa-github fa-2x"></a></li>
                </ul>
            </div>
        </footer>
        <link href="https://fonts.googleapis.com/css?family=Oswald:300,700|Lato:300" rel="stylesheet" type="text/css" media="screen">
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="screen">
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwftwC2327lEVOkJyOAu_P0lqcfroPIXY&libraries=geometry,places"
        async defer></script>
    </body>
</html>
